/home/oem/Tracking/Cpp/HiFT/HiFT/build/

/home/oem/Tracking/Cpp/HiFT/HiFT/HiFT.pro.user

/home/oem/Tracking/Cpp/HiFT/HiFT/HiFT.pro.user.42d597d

/home/oem/Tracking/Cpp/HiFT/HiFT/HiFT.pro.user.61a2cd6

/home/oem/Tracking/Cpp/HiFT/model/*
